---
http_interactions:
- request:
    method: get
    uri: https://inbox.azconfig.io/kv/.appconfig.featureflag/SNA.Example2?api-version=1.0&label=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Ms-Date:
      - Tue, 09 Jan 2024 07:02:58 GMT
      X-Ms-Content-Sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      Authorization:
      - HMAC-SHA256 Credential=TjvF&SignedHeaders=x-ms-date;host;x-ms-content-sha256&Signature=eHlsrc1U+oKoUI1Nrlp36y408E7PgDjeK1g3MqZl81E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      Etag:
      - '"F325Fo7klLRxiWXyebvm1mi83keQ78qWU-D05PyUiw0"'
      Last-Modified:
      - Tue, 09 Jan 2024 06:44:57 GMT
      Sync-Token:
      - zAJw6V16=NjoxMyM1NDIzODY2;sn=5423866
    body:
      encoding: UTF-8
      string: '{"etag":"F325Fo7klLRxiWXyebvm1mi83keQ78qWU-D05PyUiw0","key":".appconfig.featureflag/SNA.Example2","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"SNA.Example2\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2024-01-09T06:44:57+00:00"}'
  recorded_at: Tue, 09 Jan 2024 07:02:58 GMT
recorded_with: VCR 6.2.0
