---
http_interactions:
- request:
    method: get
    uri: https://inbox.azconfig.io/kv?api-version=1.0&key=.appconfig.featureflag/SNA.Example2*&label=*
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Ms-Date:
      - Tue, 09 Jan 2024 07:02:58 GMT
      X-Ms-Content-Sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      Authorization:
      - HMAC-SHA256 Credential=TjvF&SignedHeaders=x-ms-date;host;x-ms-content-sha256&Signature=j1PVfYvZBFTnoxam1cYcS/Uzub6eAULSRpwnI+L6B4E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NjoxMyM1NDIzODY2;sn=5423866
    body:
      encoding: UTF-8
      string: '{"items":[{"etag":"F325Fo7klLRxiWXyebvm1mi83keQ78qWU-D05PyUiw0","key":".appconfig.featureflag/SNA.Example2","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"SNA.Example2\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2024-01-09T06:44:57+00:00"},{"etag":"AkJCFcnp9fvXeo8OlA365wfGEQH_o-vmHV_uYB4EQSo","key":".appconfig.featureflag/SNA.Example20","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"SNA.Example20\",\"description\":\"\",\"enabled\":false,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2024-01-08T19:49:54+00:00"},{"etag":"TA37Ak2a4Xiz4QRaFCglLTeh4N-94Plqc0BLs-JFGQI","key":".appconfig.featureflag/SNA.Example21",[...]
