---
http_interactions:
- request:
    method: get
    uri: https://inbox.azconfig.io/kv?api-version=1.0&key=.appconfig.featureflag/*&label=*
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Ms-Date:
      - Tue, 09 Jan 2024 07:02:58 GMT
      X-Ms-Content-Sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      Authorization:
      - HMAC-SHA256 Credential=TjvF&SignedHeaders=x-ms-date;host;x-ms-content-sha256&Signature=4Wbp6yg6XlMmOBPIrq3KdI9ISN8YxsC4I9PcmH89Wc0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NjoxMyM1NDIzODY2;sn=5423866
    body:
      encoding: UTF-8
      string: '{"items":[{"etag":"KzhvSwfZBK6SPtE8u0Xvdlv01-5WUcppN_1jnx_aT0U","key":".appconfig.featureflag/SNA.Example","label":"prod","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"SNA.Example\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2024-01-09T06:45:06+00:00"},{"etag":"-wI3b3rlLldwcFVb8HYyFskbDNlGFSVQF3wMBRsd1kY","key":".appconfig.featureflag/SNA.Example","label":"test","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"SNA.Example\",\"description\":\"\",\"enabled\":false,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2024-01-09T05:51:42+00:00"},{"etag":"NwfsOriB-xgQYO9fy5-NQvgq7tWAnQqmxcLzQfUD9EU","key":".appconfig.featureflag/SNA.Example10","l[...]
