---
http_interactions:
- request:
    method: get
    uri: https://inbox.azconfig.io/kv?api-version=1.0&key=.appconfig.featureflag/SNA.*&label=prod
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Ms-Date:
      - Tue, 09 Jan 2024 07:02:58 GMT
      X-Ms-Content-Sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      Authorization:
      - HMAC-SHA256 Credential=TjvF&SignedHeaders=x-ms-date;host;x-ms-content-sha256&Signature=Zz+6fJi3T8MRPDGzgISTRE6zrW2Nf8THxHyt91I+T94=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NjoxMyM1NDIzODY2;sn=5423866
    body:
      encoding: UTF-8
      string: '{"items":[{"etag":"KzhvSwfZBK6SPtE8u0Xvdlv01-5WUcppN_1jnx_aT0U","key":".appconfig.featureflag/SNA.Example","label":"prod","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"SNA.Example\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2024-01-09T06:45:06+00:00"},{"etag":"VLC7LNGGyO1jzI8Fh3GizRpEVFrQ8vCjsNoV1pDvkFo","key":".appconfig.featureflag/SNA.Prod","label":"prod","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"SNA.Prod\",\"description\":\"\",\"enabled\":false,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2024-01-09T05:51:12+00:00"}]}'
  recorded_at: Tue, 09 Jan 2024 07:02:58 GMT
recorded_with: VCR 6.2.0
